body{
    max-width: 70%;
    background-color: rgb(198, 198, 231);
    margin: 30px auto;
}
h1,p{
    text-align: center;
}
.links-menu{
    text-align: center;
}
.links-menu a{
    margin-left: 15px;
    margin-top: 20px;
}